/* ..........HEADER STYLES............ */
* {
     font-family: 'EB Garamond', serif;
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
}

.banner {
     display: flex;
     background-color: #E554731A;
     justify-content: space-around;
     align-items: center;
     gap: 97px;
     padding: 50px 50px 0px 100px;

}

.banner-title {
     color: #272727;
     font-size: 50px;
     font-weight: bold;


}

.banner-sub-title {
     color: rgba(39, 39, 39, 0.60);
     font-size: 12px;
     font-weight: 400;
     line-height: 30px;
}

.banner .profile-pic {
     width: 635px;
     height: 600px;
}

.btn-primary {
     border-radius: 8px;
     background: #E55473;
     color: #FFF;
     font-size: 15px;
     font-weight: 700;
     border: none;
     padding: 15px 30px;

}

/* ..........main section style........... */
.featured {
     margin: 128px 180px;

}

.section-title {
     color: #272727;
     text-align: center;

     font-size: 40px;

     font-weight: 800;


}

.section-description {
     color: rgba(39, 39, 39, 0.60);

     text-align: center;
     font-size: 18px;

     font-weight: 400;
     padding-bottom: 48px;


}

.flower {
     display: flex;
     justify-content: space-around;




}

.first-flower {

     padding: 110px 78px 0px 76px;

     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
}

.second-flower {
     padding: 110px 78px 0px 76px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);
}

.third-flower {
     padding: 110px 78px 0px 76px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(71, 125, 17, 0.15);
}

.flower-name {
     display: flex;
     justify-content: space-around;
     text-align: center;
     font-size: 24px;
     text-decoration: underline;
}

/* ........SECOND ONE............. */
.services {
     display: flex;
     background: rgba(39, 39, 39, 0.05);
     padding: 90px 50px;
     justify-content: space-around;
     margin: 128px 300px;

}

.service-type {
     color: rgba(39, 39, 39, 0.80);
     font-size: 24px;
     font-weight: 600;
     line-height: 35px;

}

.off {
     : #E55473;
}

/* ............FIFTH ONE............... */
.email-section {}

.section-email {
     background-image: url('../Flower\ Asset/Rectangle 9.png');
     margin: 128px 240px;
     justify-content: center;
     width: 1440px;
     height: 449px;
     color: #272727;
     text-align: center;


}

.section-title-2 {
     padding: 122px 500px 0px 500px;
     font-size: 40px;


}

.section-description-2 {
     padding: 0px 500px 48px 500px;
     font-size: 18px;



}

.email {

     width: 700px;
     height: 64px;
     font-size: 16px;
     border: none;


}

.email-btn {
     background-color: #E55473;
     margin: 0px 10px 121px 50px;
     padding: 20px 20px;
     border-radius: 8px;
     border: none;
     color: #FFF;
     font-size: 20px;

}

/* ..............FOOTER STYLE.................... */
.footer {
     background-color: #111010;
}

.footer-title {
     text-align: center;
    


     font-size: 48px;

     font-weight: 800;
     padding: 128px 832px 0px 831px ;

}

.footer-flower-title {
     color: #E55473;
     
}

.footer-shop-title {
     color: #FFFFFF;
}

.footer-paragraph-1 {
     color: #FFFFFFE5;
     text-align: center;

     font-size: 18px;

     font-weight: 400;
     line-height: 30px;
    
}
.footer-paragraph-2{
     color: #FFFFFF66;
     text-align: center;

     font-size: 18px;

     font-weight: 400;
     line-height: 30px;
     padding-bottom: 128px;
}